/* Reset default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make sure body has no scroll space */
body, html {
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}
